@charset "utf-8";
*{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #333;
}
input[type=radio]{display:none;}
.new_head{
  margin: 0 auto;
  width: 350px;
  height: 50px;
  border-bottom:1px solid #090909 ;
  display: flex;
  padding-top: 20px;
}
.new_head>ul{
  display: flex;
  padding-top:10px;
  padding-left: 20px;
}
.new_head>ul>li{
  padding-left: 10px;
}
.new_head>ul>li:before{
  content: '';
  position: absolute;
  color: #ccc;
  height: 22px;
  border-right:solid 1px;
  margin-left: -5px;
}
.new_head>ul>li:first-child:before{
  display: none;
}
#item{
  margin: 0 auto;
  width: 350px;
  text-align: left;
}
#item ul{
  display: none;
}
#item .on{
  display: block;
}
#item li{
  margin-top: 20px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}
#item li>a>span:first-child{
  font-weight: bold;
  color: blue;
  font-size: 18px;
}
#item li>a>span:nth-child(2){
  margin-left: 15px;
  color: #000;
}